@font-face {
    font-family: "IBM-Mono";
    src: url("./static/IBMPlexMono-Regular.ttf");
}

* {
    --bg: #1b1b1e;
    --accent-color: #275dad;
    font-family: "IBM-Mono";
}

body {
    margin: 0;
    padding: 10%;
    background-color: var(--bg);
    color: white;
}

.list {
    list-style: none;
}

.link {
    line-height: 2.5em;
    width: fit-content;
}

.link a {
    color: var(--accent-color);
}

.link > a:hover {
    color: darkorchid;
}

.link:hover .selector {
    display: inline;
}

.list .selector:hover {
    display: none;
}

.selector {
    display: none;
}
